{% include 'admin/cabecera.html' %}
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            
            <div class="card">
                <div class="card-header">
                    Datos de cuantos viven por vivienda
                </div>
                <div class="card-body">
                    <form action="/admin/clientesporvi/guardar" method="post" enctype="multipart/form-data">

                        <div class="" method="post">
                            <label for="txtTipoDeVivienda" class="form-label">Tipo De Vienda :</label>
                            <input type="text" class="form-control" name="txtTipoDeVivienda" id="txtTipoDeVivienda" aria-describedby="helpId" placeholder="Escriba el tipo de Vivienda"></label>
                        </div>


                        <div class="" method="post">
                            <label for="txtHabitante" class="form-label">Habitante:</label>
                            <input type="text" class="form-control" name="txtHabitante" id="txtHabitante" aria-describedby="helpId" placeholder="Escriba el nombre del habitante(es) :"></label>
                        </div>


                        <div class="" method="post">
                            <label for="txtCantidad" class="form-label">Cantidad:</label>
                            <input type="text" class="form-control" name="txtCantidad" id="txtCantidad" aria-describedby="helpId" placeholder="Escriba la cantidad de personas que viven en la vivienda"></label>
                        </div>

                        <div class="" method="post">
                            <label for="txtLocalidad" class="form-label">Locacion:</label>
                            <input type="text" class="form-control" name="txtLocalidad" id="txtLocalidad" aria-describedby="helpId" placeholder="Escriba en donde se ubica la vivienda"></label>
                        </div>


                        <button type="submit" class="btn btn-primary">Agregar</button>



                    </form>


                    
                </div>
                <div class="card-footer text-muted">
                    
                </div>
            </div>
            



///tabla de registros
        </div>
        <div class="col-md-7">

            
                <<table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>TIPO DE VIVIENDA</th>
                            <th>HABITANTE</th>
                            <th>CANTIDAD</th>
                            <th>LOCALIDAD</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in datos %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>
                                <form action="/admin/clientesporvi/borrar" method="post">
                                    <input value="{{ row[0] }}" type="hidden" name="txtID">
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>
                                <!-- Botón de editar -->
                                <button class="btn btn-warning" onclick="mostrarFormularioEditar('{{ row[0] }}' , '{{ row[1] }}', '{{ row[2] }}', '{{ row[3] }}', '{{ row[4] }}')">Editar</button>
            <!-- Formulario de edición (inicialmente oculto) -->
            <form id="formEditar{{ row[0] }}" action="/admin/clientesporvi/editar" method="post" style="display: none;">
                <input value="{{ row[0] }}" type="hidden" name="txtID">
                <input type="text" name="nuevoTipoVi" value="{{ row[1] }}">
                <input type="text" name="nuevoHabitante" value="{{ row[2] }}">
                <input type="text" name="nuevaCantidad" value="{{ row[3] }}">
                <input type="text" name="nuevaLocalidad" value="{{ row[4] }}">
                <button type="submit">Guardar</button>
            </form>
                                





                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
           
            
            
        </div>
        
    </div>
</div>

<!-- Script para manejar la lógica de mostrar/ocultar los formularios de edición -->
<script>
    function mostrarFormularioEditar(id, tipovi, cantidad, locacion) {
        var formularios = document.querySelectorAll('form[id^="formEditar"]');
        formularios.forEach(function(formulario) {
            formulario.style.display = 'none';
        });

        var formularioEditar = document.getElementById('formEditar' + id);
        formularioEditar.style.display = 'block';

        formularioEditar.querySelector('input[name="nuevoTipoVi"]').value = tipovi;
        formularioEditar.querySelector('input[name="nuevoHabitante"]').value = habitante;
        formularioEditar.querySelector('input[name="nuevaCantidad"]').value = cantidad;
        formularioEditar.querySelector('input[name="nuevaLocalidad"]').value = locacion;
    }
</script>